@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Raleway:wght@400;600;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
}

.home {
  &__tabelaTarefas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      color: #fff;
      font-family: Poppins;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      margin-top: 145px;
      margin-bottom: 126px;
    }

    table {
      tr:nth-child(1) {
        border-bottom: 6px solid white;
        color: #fff;
        font-family: Raleway;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        justify-content: space-between;
        th {
          margin-bottom: 40px;
        }
        th:nth-child(2) {
            margin-left: 201px;
            margin-right: 167px;
        }
      }
      tr:nth-child(2) {
        display: flex;
        gap: 337px;
        color: #fff;
        font-family: Raleway;
        font-size: 25px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        margin-top: 33px;
        td:nth-child(1) {
            width: 279px;
        }
      }
    }
  }
}
